<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <header>
            <a href="/users/sign-out">Logout</a>
        </header>
        <h1>Welcome Mr. <%= user.name %> on Habit Tracker</h1>
    </body>
</html>